<ul class="nav-list">
  <li>
    <a {% if page.active == "item one" %}class="active"{% endif %} href="#">item one</a>
  </li>
  <li>
    <a {% if page.active == "item two" %}class="active"{% endif %} href="#">item two</a>
  </li>
  <li>
    <a {% if page.active == "item three" %}class="active"{% endif %} href="#">item three</a>
  </li>
  <li>
    <a {% if page.active == "item four" %}class="active"{% endif %} href="#">item four</a>
  </li>
  <li>
    <a {% if page.active == "item five" %}class="active"{% endif %} href="#">item five</a>
  </li>
</ul>