///////////////////////////
// Default Grid Settings //
///////////////////////////

$grid-columns: 12;

.main {
  @include clearfix;
}


/////////////////
// one sidebar //
/////////////////

.one-sidebar { 

  $max-width: 60em;
  
  #page {
    @include outer-container;
		padding: 0 $gutter;
  }
  
  .content-primary {
		@include span-columns(12);
		@include media($medium) {
			@include span-columns(8);
		}

	}
	
	.content-secondary {
		@include span-columns(12);
		@include media($medium) {
			@include span-columns(4);
		}
	}

}

.full-width {
  $max-width: 100%;
}