///////////////////////////
// Default Grid Settings //
///////////////////////////

$grid-columns: 12;
$max-width: 60em;


/////////////////
// one sidebar //
/////////////////

.one-sidebar { 

  .main {
		
		@include outer-container;
		padding: 0 $gutter;
		
		@include media($large + $gutter) {
      padding: 0;
    }

		.content-primary {
			@include span-columns(12);
			@include media($medium) {
				@include span-columns(8);
			}

		}
		
		.content-secondary {
			@include span-columns(12);
			@include media($medium) {
				@include span-columns(4);
			}
		}
		
	}

}