<li id="335974" data-count="1" class="comment user_x">
  <img src="/pix/authors/avatars/uploads/avatar_132858.jpg" class="commenter-avatar" alt="" width="50" height="50">
  <p class="comment-byline">
    <span class="commenter-name">
      <a href="https://www.facebook.com/midbrain">Nathan Dana</a>
    </span>
    <time datetime=""><a href="/comments/surveying-the-big-screen#335974">12:59 pm on December 04, 2013</a></time>
  </p> <!-- /.comments-byline -->
  <div class="comment-body">
    <p>Glad to see some love for the big screen. I always wondered why so many people optimize for mobile to the nth degree, and then ignore screens over 960px. So much real estate available to display great content, and less of a concern over bandwidth means you can serve up great imagery and typography.</p>
  </div>
</li>